<%= form_for(@ressource) do |f| %>
  <% if @ressource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ressource.errors.count, "error") %> prohibited this ressource from being saved:</h2>

      <ul>
      <% @ressource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :borrow_date %><br />
    <%= f.date_select :borrow_date %>
  </div>
  <div class="field">
    <%= f.label :estimate_date %><br />
    <%= f.date_select :estimate_date %>
  </div>
  <div class="field">
    <label for="ressource_status">Status</label>
    <br>
    <select id="ressource_status" name="ressource[status]" >
      <option value="1">Free</option>
      <option value="2">Occuped</option>
    </select>
    </div>
  <%= hidden_field_tag(:group_id, @group_id) %>
  <div class="field">
    <%= f.label :commentary %><br />
    <%= f.text_area :commentary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
