
<div class="row-fluid" id="home">

  <div class="span9" id="page">




    <div class="articles_details">
      <h1><%= image_tag('icons/more_items.png') %> Articles</h1>

      <% @articles.each do |article| %>
      <article class="article_details categ <%= article['category'] %>" id="<%= article['id'] %>">
        <div class="row-fluid">
          <figure class="span5">


          </figure>
          <div class="span7">
            <div class="row-fluid">
              <h3 class="span9"><%= article['title'] %></h3>
              <div class="span3 badges">
                <a href="/articles/<%= article['id'] %>#comments">
		  <span class="badge badge-info">
		    <% if defined?article['nb_comments'] %>0
		    <% else %><%= article['nb_comments'] %><% end %>
		    <i class="icon-comment icon-white"></i>
		  </span>
		</a>
                <a href="/articles/<%= article['id'] %>#activity">
		  <span class="badge badge-success badge-tooltip"
			data-toggle="tooltip"
			data-placement="bottom"
			data-original-title="



				     ">
		    <% #article['pop_score']['score'] %>
		    <i class="icon-fire icon-white"></i>
		  </span>
		</a>
              </div>
            </div>
            <div class="content">
	      <%= article['content'] %>
              <a href="/articles/<%= article['id'] %>"><button class="btn">Read more</button></a>
            </div> <!-- content -->
          </div>
        </div>
        <ul class="thumbnails hidden-phone">
          <li class="span3">
            <a href="#" class="thumbnail">

            </a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail">

            </a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail">
  
            </a>
          </li>
          <li class="span3">
            <div class="thbtags">

	      <span class="badge"></span>


	      <span class="badge"></span>
	      
	      
	      <span class="badge"></span>
	      
	      
              
	      
	      <!-- <h6>Tags</h6>
		   <div class="tags"> -->
	
                <!-- <a href="#"><span class="tag"></span></a> - -->

              <!-- </div> -->
            </div>
          </li>
        </ul>
      </article> <!-- article_details -->
      <% end %>

    </div> <!-- article_details -->

  </div> <!-- page -->
  <%  @gossips.each do |gossip| %>
  <aside class="span3 gossips" id="side<%= gossip['id'] %>">
    
    
    <div class="gossip
		<% @scores.each do |score| %>
	 	<% if score[gossip['id'].to_s] %>
		<% if score[gossip['id'].to_s] > 0 %>
		truth
		<% else %>
		fake
		<% end %>
		<% end %>
		<% end %>
		_miniradius
		" >
      <h5 class="title">
	<a href="gossip/">
	  I heard that...</a></h5>
      <h4 class="content">
	<a href="gossip/">
	  <%= gossip['text'] %></a></h4>
      </a>
      <div class="vote">
	<a href="gossip/#activity">
	  <span class="mark badge-tooltip"
		data-placement="left"
		data-toggle="tooltip"
		data-original-title="
<% @votestab.each do |votes| %>
  <% votes.each do |vote| %>
    <strong><%= vote %></strong>
  <% end %>
<% end %>
                ">
	 <% @scores.each do |score| %>
	   <%= score[gossip['id'].to_s] %>
	 <% end %>
	  </span>
	</a>
	<%= link_to 'True', { :controller => 'votes', :action => 'voteForGossip', :idGossip => gossip['id'] }, { :method => :post, :class => "button true" } %>
<%= link_to 'False', { :controller => 'votes', :action => 'voteAgainstGossip', :idGossip => gossip['id'] }, { :method => :post, :class => "button false" } %>

      </div>
      <div class="foot">
	<a href="/gossips/<%= gossip['id'] %>"> comment(s)</a> |
	<a href="/gossips/new">Share a gossip</a>
      </div>
    </div>


  </aside> <!-- side -->
  <% end %>
</div>
