
<div class="row-fluid" id="home">

  <div class="span9" id="page">

    <div class="articles_details">
      <h1><%= image_tag('icons/more_items.png') %> Articles</h1>

      <% @articles.each do |article| %>
      <article class="article_details categ <%= article['category'] %>" id="<%= article['id'] %>">
        <div class="row-fluid">
          <figure class="span5">


          </figure>
          <div class="span7">
            <div class="row-fluid">
              <h3 class="span9"><%= article['title'] %></h3>
              <div class="span3 badges">
                <a href="#"><span class="badge badge-info"><%= article['nb_comments'] %> <i class="icon-comment icon-white"></i></span></a>
                <a href="#"><span class="badge badge-success"><%= article['score_id'] %> <i class="icon-fire icon-white"></i></span></a>
              </div>
            </div>
            <div class="content">
	      <%= article['content'] %>
              <a href="/articles/<%= article['id'] %>"><button class="btn">Read more</button></a>
            </div> <!-- content -->
          </div>
        </div>
        <ul class="thumbnails hidden-phone">
          <li class="span3">
            <a href="#" class="thumbnail">

            </a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail">

            </a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail">
  
            </a>
          </li>
          <li class="span3">
            <div class="thbtags">

              
              <h6>Tags</h6>
              <div class="tags">
              
              </div>
            </div>
          </li>
        </ul>
      </article> <!-- article_details -->
      <% end %>

    </div> <!-- article_details -->

  </div> <!-- page -->

  <aside class="span3" id="side">
  </aside> <!-- side -->
  
</div>
