

<h1>Listing articles</h1>

<table id="sorting-example2" class="simple-table responsive-table responsive-table-on">
  <thead>
  <tr>
    <th scope="col" width="10%">Title</th>
    <th scope="col" width="10%">User</th>
    <th scope="col" width="10%">Publication date</th>
    <th scope="col" width="10%">Content</th>
    <th scope="col" width="10%">Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <% @array.each do |article| %>
  <tr>
    <td><%= article['title'] %></td>
    <td><%= article['author_name'] %></td>
    <td><%= article['publication_date'] %></td>
    <td><%= article['content'] %></td>
    <td><%= article['category'] %></td>
    <td><a href="/articles/<%= article['id'] %>">Show</a>|
    <a href="/articles/<%= article['id']%>/edit">Edit</a>|
    <a href="/articles/<%= article['id'] %>" data-method="delete" data-confirm="Are you sure?">Delete</a></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
