
<div class="row-fluid" id="home">

  <div class="span9" id="page">

    <div id="articles_showcase">
      <%= image_tag('icons/heart.png', :id => "heart") %>
      <div class="row-fluid">

	<% array = ["general", "pedago", "labo", "asso"] %>
	<% array.each_with_index do |category, idx_square| %>
	  <%# todo: get articles of category %>
          <div class="span6 square" id="<%= category %>_square">

          <div id="Carousel<%= category %>" class="carousel slide">
            <ol class="carousel-indicators">
	      <% @articles.each_index do |idx| %>
	      <li data-target="#Carousel<%= category %>"
		  data-slide-to="<%= idx %>"
		  class="<% if idx == 0 %>active<% end %>"></li>
	      <% end %>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
	      <% @articles.each_with_index do |article, idx| %>
              <div class="<% if idx == 0 %>active <% end %>item">
                <a href="#<%= article['id'] %>">
		  <%= image_tag('http://www.seeing-stars.com/Images/Slides/GettyMalibu.JPG') %>
                  <div class="carousel-caption">
                    <h4><%= article['title'] %></h4>
                    
                  </div>
                </a>
              </div>
	      <% end %>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#Carousel<%= category %>" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#Carousel<%= category %>" data-slide="next">&rsaquo;</a>
          </div>

        </div>

	<% if idx_square == 1 %>
      </div>
      <div class="row-fluid">
	<% end %>

    <% end %>
      </div>
    </div> <!-- articles_showcase -->



    <div class="articles_details">
      <h1><%= image_tag('icons/more_items.png') %> Articles</h1>

      <% @articles.each do |article| %>
      <article class="article_details categ <%= article['category'] %>" id="<%= article['id'] %>">
        <div class="row-fluid">
          <figure class="span5">


          </figure>
          <div class="span7">
            <div class="row-fluid">
              <h3 class="span9"><%= article['title'] %></h3>
              <div class="span3 badges">
                <a href="/articles/<%= article['id'] %>#comments">
		  <span class="badge badge-info">
		    <% if defined?article['nb_comments'] %>0
		    <% else %><%= article['nb_comments'] %><% end %>
		    <i class="icon-comment icon-white"></i>
		  </span>
		</a>
                <a href="/articles/<%= article['id'] %>#activity">
		  <span class="badge badge-success badge-tooltip"
			data-toggle="tooltip"
			data-placement="bottom"
			data-original-title="



				     ">
		    <% #article['pop_score']['score'] %>
		    <i class="icon-fire icon-white"></i>
		  </span>
		</a>
              </div>
            </div>
            <div class="content">
	      <%= article['content'] %>
              <a href="/articles/<%= article['id'] %>"><button class="btn">Read more</button></a>
            </div> <!-- content -->
          </div>
        </div>
        <ul class="thumbnails hidden-phone">
          <li class="span3">
            <a href="#" class="thumbnail">

            </a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail">

            </a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail">
  
            </a>
          </li>
          <li class="span3">
            <div class="thbtags">

	      <span class="badge"></span>


	      <span class="badge"></span>
	      
	      
	      <span class="badge"></span>
	      
	      
              
	      
	      <!-- <h6>Tags</h6>
		   <div class="tags"> -->
	
                <!-- <a href="#"><span class="tag"></span></a> - -->

              <!-- </div> -->
            </div>
          </li>
        </ul>
      </article> <!-- article_details -->
      <% end %>

    </div> <!-- article_details -->

  </div> <!-- page -->

  <aside class="span3 gossips" id="side">


    <div class="gossip

		_miniradius
		truth
		fake">
      <h5 class="title">
	<a href="gossip/">
	  Il parrait que...</a></h5>
      <h4 class="content">
	<a href="gossip/">
	  Placeholder is placeholded</a></h4>
      </a>
      <div class="vote">
	<a href="gossip/#activity">
	  <span class="mark badge-tooltip"
		data-placement="left"
		data-toggle="tooltip"
		data-original-title="
				     
				     <strong></strong> 
				    
				     ">
	 18
	  </span>
	</a>
	<a href="#"><span class="button true">Vrai</span></a>
	<a href="#"><span class="button false">Faux</span></a>
      </div>
      <div class="foot">
	<a href="gossip#comments"> comment(s)</a> |
	<a href="gossip/new">Share a gossip</a>
      </div>
    </div>


  </aside> <!-- side -->
  
</div>
