<p id="notice"><%= notice %></p>

<div class="articles_details">
  <article id="<%= @article['id'] %>">
    <div class="row-fluid" id="article-top">
      <div class="span3" id="article-thumbnail">
	<%= image_tag('samples/pizza.jpg') %>
      </div> <!-- article-thumbnail -->
      <div class="span9" id="article-info">
	<div class="row-fluid">
	  <div class="span9" id="article-title">
	    <h1><%= @article.title %></h1>
	  </div> <!-- article-title -->
	  <div class="span3" id="article-badges">
            <a href="#comments">
	      <span class="badge badge-info big-badge"
		    id="badge-comments">
		<% if defined?@article['nb_comments'] %>0
		<% else %><%= @article['nb_comments'] %><% end %>
		<%= image_tag('icons/white_conversation.png') %>
	      </span>
	    </a>
            <a href="#activity">
	      <span class="badge badge-success big-badge badge-tooltip"
		    id="badge-pop_score"
		    data-placement="bottom"
		    data-toggle="tooltip"
		    data-original-title="
					   <strong>munoz_v</strong> +10<br>
					   <strong>deufo_c</strong> -1
					 ">
		<% if defined?@article['score_id'] %>0
		<% else %><%= @article['score_id'] %><% end %>
		<%= image_tag('icons/white_fire.png') %>
	      </span>
	    </a>
	  </div> <!-- article-badges -->
	</div>
	<div class="row-fluid" id="article-details">
	  <div class="span4" id="article-info">
	    <small><%= @article.publication_date %></small>
	    <h3>Authors</h3>
	    <ul>
	      <li><%= @author_name %> (Writer)</li>
	      <li>lepage_b (Photograph)</li>
	      <li>munoz_v (SpellChecker)</li>
	    </ul>
	  </div> <!-- article-info -->
	  <div class="span3" id="article-audience">
	    <h3>Audience</h3>
	    <ul>
	      <li>2015<%# @articles['promo'] %></li>
	      <li>Paris<%# @articles['city'] %></li>
	      <li>Epitech<%# @articles['school'] %></li>
	      <li><%= image_tag('entities/icons/lateb.png', :class => (@article['category'] + "_icon"), :alt => "Lateb") %> Lateb</li>
	    </ul>
	  </div> <!-- article-audience -->
	  <div class="span5" id="article-tags">
	    <h3>Tags</h3>
	    <a href="#"><span class="tag">Party</span></a> - 
            <a href="#"><span class="tag">Epic</span></a> - 
            <a href="#"><span class="tag">Sausage</span></a> - 
            <a href="#"><span class="tag">Buffet</span></a> - 
            <a href="#"><span class="tag">Candy Canes</span></a> - 
            <a href="#"><span class="tag">Party</span></a> - 
            <a href="#"><span class="tag">Beer</span></a> - 
            <a href="#"><span class="tag">Alcohol</span></a>
	  </div>
	</div> <!-- article-details -->
      </div> <!-- article-info -->
    </div> <!-- article-top -->
    <div class="row-fluid" id="article-content" style="margin-top: 1%;">
      <div class="span9" id="article-text">
	<div class="article_details categ <%= @article.category %> <%= @article.category %>_miniradius">
          <div class="content" style="margin: 2%; min-height: 350px">
	    <%= @article['content'] %>
	  </div>
	</div>
      </div> <!-- article-text -->
      <div class="span3" id="article-media">
        <ul class="thumbnails hidden-phone">
          <li class="span12">
            <a href="#" class="thumbnail">
              <%= image_tag('samples/happy.jpg') %>
            </a>
          </li>
	</ul>
        <ul class="thumbnails hidden-phone">
          <li class="span12">
            <a href="#" class="thumbnail">
              <%= image_tag('samples/oh.jpg') %>
            </a>
          </li>
	</ul>
      </div> <!-- article-media -->
    </div> <!-- artcle-content -->
    <div class="article-more-media">
    </div> <!-- article-more-media -->
  </article>
</div>
<div class="row-fluid" id="social">
  <div class="span6">
    <div id="comments" class="well social-bar">
      <h2><%= image_tag('icons/conversation.png') %> Comments</h2>
      <hr>
      <% @comments.each do |comment| %>
      <div class="comment">
	<div class="pull-right">
	  <small>
	    <%= image_tag('icons/bin.png', :style => 'height: 10px;') %>
	    <a href="/articles/<%= @article.id %>/acomments/<%= comment['id'] %>"
	       data-method="delete" data-confirm="Are you sure?">
	      Delete Comment</a>
	  </small>
	</div>
	<h5><%= comment['user_login'] %> said:</h5>
	<p><%= comment['body'] %></p>
      </div>
      <hr>
      <% end %>
      <h3>Add a comment</h3>
      <%= form_for([@article, @article.acomments.build], :class => 'form-horizontal') do |f| %>
      <div class="control-group">
	<%= f.label(:body, "Content", :class => 'control-label') %>
	<div class="controls">
	    <%= f.text_area(:body, :rows => 4, :cols => 4) %>
	</div>
      </div>
      <div class="control-group">
	<div class="controls">
	  <%= f.submit("Add a comment", :class => 'btn btn-success') %>
	</div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="span6">
    <div id="activity" class="well social-bar">
      <h2><%= image_tag('icons/fire.png') %> Activity</h2>
      <hr>
      <div class="activity">
	(08:37) <b>lepage_b</b> commented on this article
      </div>
      <hr>
      <div class="activity">
	(08:42) <b>lepage_b</b> increased the Pop Score by 10
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
