
<div class="entity">
  <header id="<%= @group.title %>" class="header">
    <div class="row-fluid">
      <div class="span5">
	<%= image_tag('entities/logo/'+@group.title.downcase+'.png', :alt => @group.title) %>
      </div>
      <div class="span7">
	<h1><%= @group.title.capitalize %></h1>
	<h2><%= @group.commentary %></h2>
      </div>
    </div>
  </header>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#home">Home</a></li>
    <li><a href="#articles">Articles</a></li>
    <li><a href="#events">Events</a></li>
    <li><a href="#gossips">Gossips</a></li>
    <li><a href="#members">Members</a></li>
    <li><a href="#enroll">Enroll</a></li>
    <li><a href="/ressources?group_id=<%= @group.id %>">Ressource</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul> 

  <div class="content">
    
    <div class="row-fluid">
      <div class="span9">

	<div class="articles_details">
	<h1 class="separator-title">Articles</h1>
      <% @articles.each do |article| %>
      <article class="article_details categ <%= article['category'] %>" id="<%= article['id'] %>">
        <div class="row-fluid">
          <figure class="span5">


          </figure>
          <div class="span7">
            <div class="row-fluid">
              <h3 class="span9"><%= article['title'] %></h3>
              <div class="span3 badges">
                <a href="/articles/<%= article['id'] %>#comments">
		  <span class="badge badge-info">

		    <%= article['nb_comments'] %>
		    <i class="icon-comment icon-white"></i>
		  </span>
		</a>
                <a href="/articles/<%= article['id'] %>#activity">
		  <span class="badge badge-success badge-tooltip"
			data-toggle="tooltip"
			data-placement="bottom"
			data-original-title="



				     ">
		    <% #article['pop_score']['score'] %>
		    <i class="icon-fire icon-white"></i>
		  </span>
		</a>
              </div>
            </div>
            <div class="content">
	      <%= article['content'] %>
              <a href="/articles/<%= article['id'] %>"><button class="btn">Read more</button></a>
            </div> <!-- content -->
          </div>
        </div>
        <ul class="thumbnails hidden-phone">
          <li class="span3">
            <a href="#" class="thumbnail">

            </a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail">

            </a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail">
  
            </a>
          </li>
          <li class="span3">
            <div class="thbtags">

	      <span class="badge"></span>


	      <span class="badge"></span>
	      
	      
	      <span class="badge"></span>
	      
	      
              
	      
	      <!-- <h6>Tags</h6>
		   <div class="tags"> -->
	
                <!-- <a href="#"><span class="tag"></span></a> - -->

              <!-- </div> -->
            </div>
          </li>
        </ul>
      </article> <!-- article_details -->
      <% end %>	

	</div> <!-- article_details -->
      </div> <!-- span -->
      <div class="span3">
	<h1 class="separator-title">Contact</h1>
<p><%= @group.contact %>	</p>

	<aside class="gossips" id="side">
	  <h1 class="separator-title">Gossips</h1>
	  <% i = 0 %>
	  <%  @gossips.each do |gossip| %>
	  <aside class="gossips" id="side<%= gossip['id'] %>">    
	    <div class="gossip labo labo_miniradius
			<% @scores.each do |score| %>
	 		<% if score[gossip['id'].to_s] %>
			<% if score[gossip['id'].to_s] > 0 %>
			truth
			<% else %>
			fake
			<% end %>
			<% end %>
			<% end %>
			_miniradius
			" >
	      <h5 class="title">
		<a href="gossip/">
		  I heard that...</a></h5>
	      <h4 class="content">
		<a href="gossip/">
		  <%= gossip['text'] %></a></h4>
</a>
<div class="vote">
  <a href="gossip/#activity">
    <span class="mark badge-tooltip"
	  data-placement="left"
	  data-toggle="tooltip"
	  data-original-title="
			       
			       <% @votestab[i].each do |data| %>
			       <% data.second.each do |vote| %>
			       <% realvote = Vote.new.from_json(vote.to_json)%>
			       <strong><%= realvote.value %> <%= realvote.login %></strong><br/>
			       <% end %>
			       <% end %>
			       
			       ">
      <% @scores.each do |score| %>
      <%= score[gossip['id'].to_s] %>
      <% end %>
    </span>
  </a>
  <%= link_to 'True', { :controller => 'votes', :action => 'voteForGossip', :idGossip => gossip['id'] }, { :method => :post, :class => "button true" } %>
  <%= link_to 'False', { :controller => 'votes', :action => 'voteAgainstGossip', :idGossip => gossip['id'] }, { :method => :post, :class => "button false" } %>
  
</div>
<div class="foot">
  <a href="/gossips/<%= gossip['id'] %>"> comment(s)</a> |
	<a href="/gossips/new">Share a gossip</a>
      </div>
    </div>


<% i = i + 1%>
  <% end %>

	<h1 class="separator-title">Member</h1>
	  <p>
	    <% @members_info.each do | info |%>
	    <%= info %></br>
	    <% end %>
</p>
<%if @is_admin == true %>
	  <%= button_to("Add member", :action => "addmember", :id => @group.id) %>
<%end%>
	</aside> <!-- side -->
      </div>
      
    </div> <!-- row -->
    
  </div> <!-- content -->
  
  <footer>
    <%= link_to 'Edit', edit_group_path(@group) %> |
    <%= link_to 'Back', groups_path %>
  </footer>
    
</div>
  
