<h1>Listing users</h1>

<table>
  <tr>
    <th>Login</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>City</th>
    <th>Photo url</th>
    <th>Avatar url</th>
    <th>Uid</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.city %></td>
    <td><%= user.photo_url %></td>
    <td><%= user.avatar_url %></td>
    <td><%= user.uid %></td>
    <td><%= user.email %></td>
    <td><a href="/users/<%= user.id %>" >Show</a></td>
  </tr>
<% end %>
</table>

<br />

