<div class="profile-perso-information" style="margin-top: 14px;height: 113px;">
<img src="http://127.0.0.1:3000<%= @user.photo.url(:small) %>" style="border-radius: 6px 6px 6px 6px; float:left" />
<div style="height: 100%;float:left;margin-left:10px">
<h4> <%= @user.firstname %> <%= @user.lastname %> |  <%= @user.login %></h4>
<p>City:  <%= @user.city %> </p>
<p>email:  <%= @user.email %> </p>
</div>
</div>

<br />
<br />
<br />
<br />

<div id="social" class="row-fluid">
<div class="span6">
  
  <div id="comments" class="well social-bar">
    <% if @arrayArticles.any? %>
    <h2>Wrote <%= @arrayArticles.length %> articles</h2>
    <hr>
    <% @arrayArticles.each do |article| %>
    
    <a href="/articles/<%= article.id%>" ><%= article.title %></a>
    <hr>
    <% end %>
    <% end %>
    
    <% if @arrayAcomments.any? %>
    
    <h2>Wrote <%= @arrayAcomments.length %> comments </h2>
    <hr>
    <% @arrayAcomments.each do |comment| %>
    
    <td><%= comment.body %> </td>
    
    <% end %>
    
    <% end %>
  </div>
</div>
</div>

<% if @is_me == "true" %>
<div id="dialog" style="show:hidden">
  <%= form_for(@user, :url => user_path(@user), :method => "put", :html => { :multipart => true }) do |f| %>
  <div><%= f.label 'Photo' %><br />
  <%= f.file_field :photo %></div>

  <div><%= f.submit "Update photo" %></div>
<% end %>
</div>
<% end %>
<script>

$(".profile-perso-information img").hover(function() {
$(this).css({"cursor":"hand", "cursor": "pointer"});
});

$(".profile-perso-information img").click(function() {
$("#dialog").dialog();
});

</script>
