<h1>Listing events</h1>

<div id="events">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
  <%= date.day %>
  <% @events.each do |event| %>
  <% if date.between?(event.start.to_date, event.end.to_date) == true %>
  <a href="/events/<%= event.id %>"><%= event.title %></a>
  <% end %>
  <% end %>
  <% end %>
</div>

<br />

<%= link_to 'New Event', new_event_path %>
	
